<?xml version="1.0" encoding="UTF-8"?>
<odoo>
  <data>
         <menuitem id="menu_config_bank_accounts"
            action="tomcat.action_tomcat_customer_segment"
            name="Segmento cliente"
            parent="res_partner_menu_config"
            sequence="7"/>
         <menuitem id="menu_config_bank_accounts"
            
            name="Categoria intermediario"
            parent="res_partner_menu_config"
            sequence="8"/>
  </data>
</odoo>
 