<?xml version="1.0" encoding="UTF-8"?>
<odoo>
  <data>
         <menuitem id="menu_config_customer_segment"
            action="tomcat.action_tomcat_customer_segment"
            name="Segmento cliente"
            parent="contacts.res_partner_menu_config"
            sequence="7"/>
         <menuitem id="menu_config_intermediary_category"
             action="tomcat.action_tomcat_intermediary_category"
            name="Categoria intermediario"
            parent="contacts.res_partner_menu_config"
            sequence="8"/>
  </data>
</odoo>
 